<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src= "app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl">
      <h2>There are <span class="emphasis">{{getTotalTodos()}}</span> songs queued.</h2>
      <ul>
        <li ng-repeat="todo in todos | orderBy:'-votes'">
        <span class="done-{{todo.done}}">{{todo.text}}</span><br>
        <span style = "margin-left: 140px;" >Votes</span><span class="vote">{{todo.votes}}</span>
          <button class = "vote-btn" ng-click = "upVote(todo)">+</button>
          <button class = "vote-btn" ng-click = "downVote(todo)">-</button>
        
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="Song" type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
      </form>
      
    </div>
  </body>
  
</html>