<!doctype html>
<html lang="en" ng-app="myapp">
	<head>
		<title>Jukebox</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<script src="js/angular.min.js"></script>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
		-->
		<link rel="stylesheet" href="/app/common/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	</head>

	<body>
		<tabset vertical="true" type="pills">
			<tab heading="Add New Playlist">
				<div class="container text-center login_div carousel">
					<br><br><br><br>
					<form>
						<input type="text"></input><br><br>
						<button class="btn btn-primary">
							Join Playlist
						</button>
					</form>
					<hr/>
					<button class="btn btn-primary">
						Create Playlist
					</button>
				</div>
			</tab>
			<tab heading="Party Playlist 2011">
			</tab>
			<tab heading="Tab 3" disable="true">
				One more!
			</tab>
		</tabset>



	<script src="http://code.angularjs.org/1.5.3/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.5.3/angular-resource.min.js"></script>
	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  	-->

	<script>
	var myapp = angular.module("myapp", ["ngResource", "ui.bootstrap", "spotify"]);

	myapp.config(['$httpProvider', function ($httpProvider) {
					$httpProvider.defaults.useXDomain = true;
					delete $httpProvider.defaults.headers.common['X-Requested-With'];
			}]);

	myapp.controller('NavCtrl', function($scope) {
		$scope.state = false;

		$scope.toggleState = function() {
			$scope.state = !$scope.state;
		};
	});

	myapp.directive('sidebarDirective', function() {
		return {
			link: function (scope, element, attr) {
				scope.$watch(attr.sidebarDirective, function(newVal) {
					if(newVal) {
						element.addClass('show');
						return;
					}
					element.removeClass('show');
				});
			}
		};
	});

	myapp.directive('tab', function() {
		return {
			restrict: 'E',
			transclude: true,
			template: '<div role="tabpanel" ng-show="active" ng-transclude></div>',
			require: '^tabset',
			scope: {
				heading:'@'
			},
			link: function(scope, elem, attr, tabsetCtrl) {
				scope.active = false

				scope.disabled = false
				if(attr.disable) {
					attr.$observe('disable', function(value) {
						scope.disabled = (value !== 'false')
					})
				}

				tabsetCtrl.addTab(scope)
			}
		}
	});
	myapp.directive('tabset', function() {
		return {
			restrict: 'E',
			transclude: true,
			scope: {
				type:'@',
				vertical:'@',
				justified:'@',
			},
			templateUrl: 'tabset.html',
			bindToController: true,
			controllerAs: 'tabset',
			controller: function() {
				var self = this
				self.tabs = []
				self.addTab = function addTab(tab) {
					self.tabs.push(tab)

					if (self.tabs.length == 1) {
						tab.active = true;
					}
				}

				self.classes = {}
				if (self.type == 'pills') {
					self.classes['nav-pills'] = true
				} else {
					self.classes['nav-tabs'] = true
				}

				if (self.justified) {
					self.classes['nav-justified'] = true
				}
				if (self.vertical) {
					self.classes['nav-stacked'] = true
				}

				self.select = function(selectedTab) {

					if (selectedTab.disabled) { return }

					angular.forEach(self.tabs, function(tab){
						if(tab.active && tab != selectedTab) {
							tab.active = false;
						}
					})

					selectedTab.active = true;
				}

			}
		}
	});
	</script>
	<script src="/scripts/ui-bootstrap-1.3.1.min.js"></script>
	<script src="/scripts/angular-spotify.js"></script>

	<!--<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>-->
	</body>
</html>
