<div ng-controller="NavCtrl" role="tabpanel">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" href="#" id="navigation-toggle" ng-click="toggleState()">
                        <!-- <span class="sr-only">Toggle navigation</span> -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Jukebox</a>
                </div>
            <!--<a href="#" id="navigation-toggle" ng-click="toggleState()">Navigation</a>-->
        </nav>
        <ul class="sidebar" sidebar-directive="state" ng-class="tabset.classes" role="tablist">
            <li class="navigation-items"
                role="presentation"
                ng-repeat="tab in tabset.tabs"
                ng-class="{'active' : tab.active, 'disabled' : tab.disabled}">

                <a href=""
                    role="tab"
                    ng-click="tabset.select(tab)">{{ tab.heading }}</a>
            </li>
        </ul>
    </div>
    <ng-transclude>
    </ng-transclude>
</div>
